@import "mee-components/base-theme";

.logo>svg {
    fill: white;
    transition: all;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

.logo--contrast>svg {
    fill: #447f88;
}