---
import { Header } from "mee-components";
import { header, meeFoundation } from "../../astro.config.mjs";
import Layout from "../layouts/Layout.astro";
import { DocsComponent, Breadcrumbs } from "mee-components";


const data = {
  users: {
    enabled: true,
    link: "/docs/users/mdn",
    description: "Click below to learn more about our Mee Data Network"
  },
  developers: {
    enabled: true,
    link: "/docs/developers/mdn",
    description: "Our development work on Mee Data Network is in progress. Click below to learn more and join us if you are interested in developing the new future for the internet"
  },
};
---

<Layout title="Docs">
  <main class="">
    <Header header={header} activePage="docs" location="Mee Data Network" />
    <article
      class="relative mt-27 flex h-full min-h-screen w-screen flex-col items-center gap-4 overflow-hidden pt-16"
    >
      <Breadcrumbs
        className="hidden md:flex"
        breadcrumbs={[
          { title: "Projects", link: `${meeFoundation}projects/` },
          { title: "Mee Data Network", link: `/` },
          { title: "Docs" },
        ]}
      />
      <DocsComponent data={data} title="Mee Data Network Docs" />
    </article>
  </main>
</Layout>
